.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  margin: 1.5rem 0 2.5rem;
  color: var(--color-text-main);
}

.btn-primary {
  width: 100%
}

.forgot-link {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 600;
}

.login-footer {
  margin-top: 2.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: var(--color-text-muted);
}

.login-footer a {
  color: var(--color-secondary);
  text-decoration: none;
  font-weight: 700;
}