mat-toolbar {
    background-color: var(--color-primary);
    height: 80px !important;
    /* Taller toolbar */
}

mat-toolbar button {
    font-size: 1rem !important;
    /* Larger text for buttons */
}

mat-toolbar mat-icon {
    font-size: 30px !important;
    /* Larger icons */
    width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    
}