<mat-toolbar>
  <button mat-button (click)="myDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span style="flex: auto"></span>
  <!-- Mostrar el nombre del usuario autenticado -->
  <button mat-button *ngIf="auth.isAuthenticated()">
    {{ auth.getUsername() | titlecase }}
  </button>
  <button mat-raised-button class="btn-tertiary" (click)="logout()">Salir</button>
</mat-toolbar>
<!--Barra lateral-->
<mat-drawer-container>
  <mat-drawer #myDrawer opened="true" mode="side" position="start">
    <mat-list>
      <mat-list-item *ngIf="!auth.isAdmin()">
        <button mat-button [routerLink]="['/', getUsername(), 'dashboard']">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/', getUsername(), 'finanzas']">
          <mat-icon>account_balance_wallet</mat-icon>
          Finanzas
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/', getUsername(), 'conceptos']">
          <mat-icon>label</mat-icon>
          Conceptos
        </button>
      </mat-list-item>

      <mat-list-item *ngIf="auth.isAdmin()">
        <button mat-button [routerLink]="['/', getUsername(), 'usuarios']">
          <mat-icon>people</mat-icon>
          Usuarios
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button [routerLink]="['/', getUsername(), 'historial-informes']">
          <mat-icon>history</mat-icon>
          Historial
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <!--Mostrar los componentes sin recargar la página-->
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>